body {
    position: relative;
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    font-family: 'Helvetica Neue', '맑은 고딕', Helvetica, Arial, sans-serif;
}

.post {
  margin-bottom: 1em;
}

.post-content {
  padding-left: 1em;
}

.tag-cloud, .category-cloud {
    line-height: 250%;
}

.by_month { width: 5em; }

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
  body {
    padding-top: 0;
  }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  body {
    padding-top: 0;
  }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  body {
    padding-top: 0;
  }
  h1{font-size:30px;}
  h2{font-size:24px;}
  h3{font-size:20px;}
}